.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  gap: 10px;
}

.field {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 150px;
}

.checkbox, .editButton, .saveButton, .removeButton {
  margin-left: 10px;
}

.editButton, .saveButton, .removeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #4a0e0e;
}

.editButton:hover, .saveButton:hover, .removeButton:hover {
  color: #6a2e2e;
}

.inputContainer {
  display: flex;
  flex-grow: 1; /* Ensure the input container grows */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure it takes full width */
}

.input {
  flex-grow: 1; /* Allow input fields to take available space */
  margin-right: 10px;
  padding: 5px;
  width: 100%; /* Make inputs stretch to fill available space */
  max-width: 100%; /* Prevent input from overflowing */
  box-sizing: border-box; /* Include padding in width calculations */
}

/* Media query to stack inputs in mobile view */
@media (max-width: 768px) {
  .inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .input {
    width: 100%; 
    margin-right: 0;
    margin-bottom: 10px; 
  }

  .checkbox {
    margin-left: 30px;
  }
}
